@import "tailwindcss";


@theme {
   --color-background: #F5F5F5;
}

:root {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}

@layer base {
    body {
        @apply bg-background
    }
    input {
        @apply outline-none border-none
    }
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/shared/assets/fonts/Roboto-Regular.otf') format('trutype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/shared/assets/fonts/Roboto-Medium.ttf') format('trutype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/shared/assets/fonts/Roboto-Bold.ttf') format('trutype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}